.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--main-color);
  font-family: var(--main-font, 'Inter', sans-serif);
  font-weight: var(--text-weight);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

.content {
  inline-size: var(--content-width);
  margin: auto;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 100px;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 25px;
  font-family: var(--accent-font, sans-serif);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;

}
.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 25px;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 14px;
}

.theme-menu__item {
  position: relative;
  padding-inline-start: 20px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before{
  content: "▶";
  position: absolute;
  top: 0;
  left: -2px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 1px;  
  background-color: var(--main-color);
  transition: width 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 53px;
}

.card__title {
  font-size: 18px;
  line-height: 1.21;
  font-weight: 700;
  padding: 4px 10px;
}

.card__image-container {
  position: relative;
}

.card__image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-block: 2px solid var(--main-color);
}

.card__list li:first-child .card__image {
  filter: brightness(60%) contrast(120%) saturate(150%);
}

.card__list li:nth-child(2) .card__image {
  filter: grayscale(1);
}

.card__list li:nth-child(3) .card__image {
  filter: saturate(150%) contrast(120%);
}

.card__list li:nth-child(4) .card__image {
  filter: invert(100%);
}

.card__list li:nth-child(5) .card__image {
  filter: sepia(20%);
}

.card__list li:nth-child(6) .card__image  {
  filter: hue-rotate(-50deg);
}

.card__list li:nth-child(7) .card__image {
  filter: blur(0.15rem) invert(90%);
}

.card__list li:last-child .card__image  {
  filter: saturate(170%);
}

.card__image-label {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font, sans-serif);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--text-stroke-color), 
    0 1px var(--text-stroke-color), 
    1px 0 var(--text-stroke-color), 
    0 -1px var(--text-stroke-color);
}

@supports((text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {
  .card__image-label {
      -webkit-text-stroke: 1px var(--text-stroke-color);
      text-stroke: 1px var(--text-stroke-color);
      text-shadow: none;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 27px 25px 0;
  font-size: 18px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
  margin: 25px;
}

.button {
  background-color: var(--background-color);
  border: 2px solid var(--main-color);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: currentColor;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button__text {
  z-index: 1;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 14px;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px currentColor;
  transition: box-shadow 0.3s ease;
}

.button:hover::before{
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.card__icon-button {
  background-color: transparent;
  padding: 0;
  border: 2px solid transparent;
  block-size: 38px;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.save-button {
  gap: 8px;
  margin: 52px auto 100px;
  inline-size: 335px;
  block-size: 55px;
}

.save-button__icon {
  inline-size: 21px;
  aspect-ratio: 1 / 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  z-index: 1;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  padding: 30px;
}

dialog::backdrop {
  background-color: var(--background-dialog);
  opacity: 0.75;
}

.dialog__content {
  display: flex;
  gap: 12px;
}

.dialog__content-title {
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--main-color);
}

.dialog__icon {
  inline-size: 39px;
  aspect-ratio: 1 / 1;
  color: var(--main-color);
  flex-shrink: 0;
}

.dialog__close-button {
  inline-size: 100%;
  block-size: 38px;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    inline-size: 306px;
    block-size: 84px;
  }

  .save-button__icon {
    inline-size: 28px;
  }

  .dialog {
    padding: 30px 42px;
  }
}
